* {
  margin: 0 auto;
  padding: 0; }

li,
ul {
  list-style: none; }

body {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Playfair Display SC', serif;
  font-size: 14px;
  color: #666;
  line-height: 1.5em;
  margin-top: 40px;
  margin-bottom: 40px; }

#container {
  background-image: url("../backgroundweb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 950px;
  margin: 20px auto;
  border: #ccc solid 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

section {
  min-height: 200px !important; }

@media screen and (max-width: 600px) {
  body {
    font-size: 18px;
    margin: 0 auto; }
  #container {
    width: 100%;
    margin: 0 auto; } }

header {
  background-image: url("../marble-pattern.jpg");
  height: 90px;
  color: #fff;
  line-height: 3.5rem; }

header h1 {
  font-size: 3.5rem;
  text-shadow: 2px 2px 2px #333333;
  text-align: center;
  padding: 20px 0 0 10px;
  font-family: 'Mrs Saint Delafield', cursive; }

footer {
  background-image: url("../marble-pattern.jpg");
  text-align: center;
  padding: 20px;
  color: #fff; }

@media screen and (max-width: 600px) {
  footer {
    font-size: 8px;
    padding: 10px;
    color: #fff; } }

nav {
  height: 30px;
  background: #333333;
  color: #fff;
  padding-top: 10px; }

nav li {
  float: left;
  position: relative;
  left: 18%;
  padding: 0 35px; }

nav a {
  color: #fff; }

.circle {
  margin-top: 15px;
  margin-bottom: 15px;
  background-image: url("../floral.jpg");
  width: 270px;
  height: 270px;
  border-radius: 270px; }

.fa {
  margin-left: 4rem;
  font-size: 150px; }

.fa-paint-brush {
  margin-top: 40px;
  margin-left: 4.5rem; }

#caption {
  font-size: 30px;
  margin-left: 65px;
  margin-top: 0.5em; }

.fa-id-badge {
  margin-top: 40px;
  margin-left: 80px; }

#aboutme {
  font-size: 30px;
  margin-left: 5.25rem;
  margin-top: 0.5em; }

.fa-laptop {
  margin-top: 40px;
  margin-left: 3.5rem; }

#service-caption {
  margin-left: 4.25rem;
  font-size: 30px; }

.fa-mobile {
  font-size: 12rem;
  margin-top: 1rem;
  margin-left: 6rem; }

#contact-caption {
  margin-top: 2px;
  margin-left: 2.45rem; }

@media screen and (max-width: 600px) {
  .circle {
    margin-top: 50px;
    background-color: #42f4b3;
    width: 150px;
    height: 150px;
    border-radius: 250px; }
  .fa {
    margin-left: 2rem;
    font-size: 85px;
    margin-top: 0; } }
