// this is the scss for the header

header{
  // background-image: img("marble-pattern.jpg");
  height: 90px;
  color: $white;
  line-height: 3.5rem;
  background: $primary-color;
}

header h1{
  font-size: 3.5rem;
  text-align: center;
  padding: 20px 0 0 10px;
  font-family: 'Mrs Saint Delafield', cursive;
}
