// this is the scss for the navigation bar

nav{
  height: 30px;
  background: $secondary-color;
  color: $white;
  padding-top: 10px;
}

nav li{
  float: left;
  position: relative;
  left: 18%;
  padding: 0 10px 0 10px;
}

nav a{
  color: $white;
}
