// this is going to contain the css for
// the body, main container,and header

body {
    @include border-radius;
    font-family: 'Playfair Display SC', serif;
    font-size: 14px;
    color: #666;
    line-height: 1.5em;
    // background: #23344f;
    // overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}
// h1{
//   text-align: center;
// }
#container {
    background-image: url("../backgroundweb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 950px;
    // overflow: hidden;
    margin: 20px auto;
    // background: $white;
    border: #ccc solid 1px;
    @include border-radius;
}

section {
    min-height: 200px !important;
}
@media screen and (max-width:600px) {
    body {
        font-size: 18px;
        margin: 0 auto;
    }

    // h1{
    //   text-align: left;
    //   font-size: 25px;
    //   margin-left: 5px;
    // }

    #container {
        width: 100%;
        // overflow: hidden;
        margin: 0 auto;
    }
}
