// this is going to contain the css for
// the body, main container,and header

body {
    @include border-radius;
    font-family: 'Playfair Display SC', serif;
    font-size: 14px;
    color: #666;
    line-height: 1.5em;
    // background-image: img("../backgroundweb.jpg")!important;
    background: #f4f4f4;
    // overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}

#container {
    width: 950px;
    // overflow: hidden;
    margin: 20px auto;
    // background: $white;
    border: #ccc solid 1px;
    @include border-radius;
}

section {
    min-height: 200px !important;
}
@media screen and (max-width:600px) {
    body {
        font-size: 18px;
        margin: 0 auto;
    }

    #container {
        width: 100%;
        // overflow: hidden;
        margin: 0 auto;
    }
}
