// this is what goes inside the container div after the home, about, services,
// work, etc. are clicked
// targets circle

.circle {
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url("../floral.jpg");
    width: 270px;
    height: 270px;
    border-radius: 270px;
}
// targets all "fa" class attributes

.fa {
    margin-left: 4rem;
    font-size: 150px;

}
// targets my work: paint brush icon

.fa-paint-brush {
    margin-top: 40px;
    margin-left: 4.5rem;
}
// targets all attributes with id="caption"

#caption {
    font-size: 30px;
    margin-left: 65px;
    margin-top: 0.5em;
}
// targets class="fa fa-id-badge" attribute

.fa-id-badge {
    margin-top: 40px;
    margin-left: 80px;
}

// targets attribute with id="aboutme"

#aboutme {
    font-size: 30px;
    margin-left: 5.25rem;
    margin-top: 0.5em;
}
// targets class="fa fa-laptop" attribute
.fa-laptop{
    margin-top: 40px;
    margin-left: 3.5rem;
}
#service-caption{
  margin-left: 4.25rem;
  font-size: 30px;
}
.fa-mobile{
  font-size: 12rem;
  margin-top: 1rem;
  margin-left: 6rem;
}
#contact-caption{
  margin-top: 2px;
  margin-left: 2.45rem;
}
@media screen and (max-width:600px) {
    .circle {
        margin-top: 50px;
        background-color: $primary-color;
        width: 150px;
        height: 150px;
        border-radius: 250px;
    }
    // .fa {
    //     margin-top: 50px;
    //     margin-left: 45px;
    //     font-size: 150px;
    // }
    .fa {
        margin-left: 2rem;
        font-size: 85px;
        margin-top: 0;
    }

    .fa-paint-brush {
        // margin-top: 40px !important;
    }

    #work {}
}
